DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/hstu_notice_mailer

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_EMAIL=your_email@example.com
SMTP_USE_TLS=true
